export SPOTIPY_CLIENT_ID=abcdef1234567890abcdef1234567890
export SPOTIPY_CLIENT_SECRET=abcdef1234567890abcdef1234567890
export SPOTIPY_REDIRECT_URI=http://localhost:8235/SortYourMusic/

export ECHO_NEST_API_KEY=ABCDEFG1234567890
